html,body{
	height:100%;
}

header{
	padding:0;
	margin:0;
	background-color:black;
	color:white;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

#content{
	margin:0 auto 0 auto;
}


textarea{
	width:100%;
	height: 100%;
	margin:0 auto 0 auto;
	border:1px solid transparent;
}


h1{
	display:inline-block;
	margin:.25em 0 0 0;
	padding:.5em;
	font-size: 1.5em;
}

.btn-default{
	color:#fff;
	background-color: #000;
	border:1px solid transparent;
}

#newBtn{
	color:#00ba00;
}

#write{
	display:block;
}


#list{
	display:none;
	padding:1em;
}

#list ul{
	margin:2em 0 0 0;
}

#list ul li .edit{
	cursor:pointer;
	margin: 0 1em 0 1em;
}

#list ul li .srch{
	display:none;
}


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}